#main-container{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-image: url(../images/container.jpg);
	background-size: 100% 100%;
	z-index: 1;
}
#mask{
	position: absolute;
	visibility: visible;
	background-color: #444;
	opacity: 0.75;
	height: 100%;
	width: 100%;
	z-index: 2;
}
#error{
	font-size: 25px;
	font-family: "楷体";
	text-align: center;
}
#exit{
	position: absolute;
	left: 45%;
	font-family: "楷体";
	font-size: 20px;
	background-color: lightgreen;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
}
#messagebox{
	position: absolute;
	visibility: visible;
	width: 30%;
	height: 13%;
	z-index: 3;
	border: solid lightcoral;
	border-radius: 10px;
	background-image: url(../images/container.jpg);
	top: 40%;
	left: 35%;
}
#title{
    width: 40%;
	height: 25%;
	margin-left: 30%;
	background-image: url(../images/title.png);
	background-size: 100% 100%;
}
#register-box{
	position: absolute;
	width: 20%;
	height: 60%;
	top: 45%;
	left: 20%;
}
#weclome{
	position: absolute;
	width:25%;
	height: 20%;
	top: 25%;
	left: 20%;
	background-image: url(../images/1.gif);
	background-size: 100% 100%;
}
#login_button_login {
	position: absolute;
	background-color: lemonchiffon;
	bottom: 33%;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	left: 22%;
	font-family: "楷体";
	font-size: 30px;
}
#login_button_reg {
	position: absolute;
	background-color: lemonchiffon;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	bottom: 33%;
	left: 35%;
	font-family: "楷体";
	font-size: 30px;
}
#reg_button_login {
	position: absolute;
	background-color: lemonchiffon;
	bottom: 10%;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	left: 22%;
	font-family: "楷体";
	font-size: 30px;
}
#reg_button_return{
	position: absolute;
	background-color: lemonchiffon;
	bottom: 10%;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	left: 35%;
	font-family: "楷体";
	font-size: 30px;
}
#info_button_login {
	position: absolute;
	background-color: lemonchiffon;
	bottom: 30%;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	left: 10%;
	font-family: "楷体";
	font-size: 30px;
}
#info_button_reg {
	position: absolute;
	background-color: lemonchiffon;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	bottom: 30%;
	left: 35%;
	font-family: "楷体";
	font-size: 30px;
}
#info_button_return{
	position: absolute;
	background-color: lemonchiffon;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	bottom: 30%;
	left: 75%;
	font-family: "楷体";
	font-size: 30px;
}
#finfo_button_return{
	position: absolute;
	background-color: lemonchiffon;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	bottom: 30%;
	left: 75%;
	font-family: "楷体";
	font-size: 30px;
}
#pass_button_login {
	position: absolute;
	background-color: lemonchiffon;
	bottom: 20%;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	left: 22%;
	font-family: "楷体";
	font-size: 30px;
}
#pass_button_return{
	position: absolute;
	background-color: lemonchiffon;
	bottom: 20%;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	left: 33%;
	font-family: "楷体";
	font-size: 30px;
}
#view{
	background-image: url(../images/view.jpg);
	background-size: 100% 100%;
	position: absolute;
	right: 30%;
	bottom: 45%;
	width: 13%;
	height: 25%;
	border-radius: 15px;
	-webkit-box-shadow:5px 5px 5px #FFFFE0;
}
#view1{
	background-image: url(../images/view1.jpg);
	background-size: 100% 100%;
	position: absolute;
	right: 15%;
	bottom: 15%;
	width: 13%;
	height: 25%;
	border-radius: 15px;
	-webkit-box-shadow:5px 5px 5px #FFFFE0;
}
.input-box{
	margin-top: 25px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	-webkit-border-radius: 3px;
	border:1px solid rgba(0,0,0,0.1);
}
.output-box{
	margin-top: 25px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	-webkit-border-radius: 3px;
	border:1px solid rgba(0,0,0,0.1);
	height: 35px;
	font-family: "楷体";
	font-size: 25px;
}
.text-input{
    display: inline-block;
    height: 100%
    padding: 6px 2%;
    outline: none;
    border: none;
    background-color: rgba(255,255,255,.8);
    width: 80%;
    height: 35px;
    font-size:25px;
    -webkit-transition: background .2s ease;
    border-radius:3px;
}
#person_img{
    position: absolute;
	background-size: 100% 100%;
	border-radius: 10px;
    left: 13%;
    top: 50%;
    width: 100px;
    height: 100px;
	box-shadow:1px 1px 2px 2px #ccc;
}
.info_image-input{
	display: inline-block;
    height: 100%
    padding: 6px 2%;
    outline: none;
    border: none;
    background-color: rgba(255,255,255,.8);
    width: 80%;
    height: 35px;
    font-size:25px;
	font-family: "楷体";
    -webkit-transition: background .2s ease;
    border-radius:3px;
}
.reg_image-input {
    display: inline-block;
    height: 100% padding : 6 px 2 %;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, .8);
    width: 80%;
    height: 35px;
    font-size: 25px;
    font-family: "楷体";
    -webkit-transition: background .2s ease;
    border-radius: 3px;
}
.placeholder{
	float: left;
	width: 20%;
	height: 100%;
	font-family: "楷体";
	font-size: 25px;
}
.pass_text-input{
    display: inline-block;
    height: 100%
    padding: 6px 2%;
    outline: none;
    border: none;
    background-color: rgba(255,255,255,.8);
    width: 65%;
    height: 35px;
    font-size:25px;
    -webkit-transition: background .2s ease;
    border-radius:3px;
}
.pass_placeholder{
	float: left;
	width: 35%;
	height: 100%;
	font-family: "楷体";
	font-size: 25px;
}