<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src = "{{static}}js/jquery-1.11.3.min.js"></script>
    <script src = "{{static}}js/main.js"></script>
    <script type="text/javascript">
        selfid = {{selfid}};
        function addFriend(){
            m = {};
            m.type = "RFRIEND";
            m.receiver = $('#receiver').val();
            addMessage(m);
        }
        window.onload = function(){
            setInterval(messageLoop, 1000 / consult_per_second);
        }
    </script>
    <title></title>
</head>
<body>
{{static}}
<h2>当前在线账号为 : {{ current_user }}</h2>
<h2>Player List</h2>
<ul>
    {% for player in players %}
        <li>{{ player.id }} : {{ player.nick_name }} </li>
    {% endfor %}
</ul>
{% if error %}
    <p>{{ error }}</p>
{% endif %}
{% if friend_request %}
    <p>{{ friend_request }}</p>
{% endif %}
<div>
    <input type = "text" id = "receiver"/>
    <button onclick = "addFriend()"></button>
</div>
<div>
    <form action='/check_friend_info/' method="POST">
        {% csrf_token %}
        {{ form_check_info.username.errors }}
        <div>
            {{ form_check_info.username }}
        </div>
        <input type="submit" value="查看好友信息"/>
    </form>
</div>
<img src={{ image }}/>
<div>
    <form action='/info/' method="GET">{% csrf_token %}<input type="submit" value="信息"/></form>
</div>


<form action='/logout/' method="POST">{% csrf_token %}<input type="submit" value="退出"/></form>
</body>
</html>