{% extends "base.html" %}
{% block title %}个人信息{% endblock %}
{% block content %}
    <div id="person_img" style="background-image: url({{ image }});"></div>
    <div id="register-box">
        <div class="output-box">游戏状态：{{ current_player.game_state }}</div>
        <div class="output-box">游戏场次：{{ current_player.game_num }}</div>
        <div class="output-box">积分：{{ current_player.game_grade }}</div>
        <form action="/info/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-box">
                <label class="placeholder"> 昵称:</label>
                {{ form.nickname }}
            </div>
            {{ form.image.error }}
            <div class="input-box">
                <label class="placeholder"> 头像:</label>
                {{ form.image }}
            </div>
            <input id="info_button_login" type="submit" value="确定"/>
        </form>
        <form action='/to_update_password/{{ current_player.id }}' method="POST">
            {% csrf_token %}
            <input id="info_button_reg" type="submit" value="更改密码"/>
        </form>
        <form action='/to_index/{{ current_player.id }}' method="POST">
            {% csrf_token %}
            <input id="info_button_return" type="submit" value="返回"/>
        </form>
    </div>
{% endblock %}