{% extends "base.html" %}
{% block title %}修改密码{% endblock %}
{% block content %}
    <form action="/update_password/{{ id }}" method="POST">
        <div id="register-box">
            {% csrf_token %}
            <div class="input-box">
                <label class="pass_placeholder"> 账号：</label>
                {{ form.username }}
            </div>
            <div class="input-box">
                <label class="pass_placeholder"> 当前密码：</label>
                {{ form.origin_password }}
            </div>
            <div class="input-box">
                <label class="pass_placeholder"> 新密码：</label>
                {{ form.new_password }}
            </div>
            <div class="input-box">
                <label class="pass_placeholder"> 确认：</label>
                {{ form.new_password2 }}
            </div>
        </div>
            <input id= "pass_button_login" value="确认" type="submit"/>
    </form>
    <form action='/info/{{ id }}'>
        <input id="pass_button_return" value="返回" type="submit"/>
    </form>
{% endblock %}